<div class="container">
    <div class="row my-3 ">
        <div class="col-12 header-container">
            <div class="header d-flex justify-content-between">
                <h2 class="text-info ">Deptors</h2>
                <button *ngIf="data" mat-flat-button class="text-danger">
                    <mat-icon (click)="dialog.close(true)">close</mat-icon>
                </button>
            </div>
            <!-- <p class="font-italic font-weight-bold">Total Deposits: {{ totalBalance | currency:' AED ' }}</p> -->
            <p class="font-italic font-weight-bold">Total Depts: {{ sumBalance | currency:' AED ' }}</p>
        </div>
    </div>
    <div class="row" >
        <table class="table table-bordered table-hover" style="min-width: 670px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center" >Customer Name</th>
                    <th scope="col" class="text-center" >Amount</th>
                </tr>
            </thead>
            <tbody *ngIf="listDepts.length">
                <tr class="text-center" *ngFor="let deptor of listDepts , let i=index" >
                    <ng-container *ngIf="deptor?.deposite!== 0">
                    <td scope="row" class="w-50">{{deptor?.name}}</td>
                    <td>{{deptor?.deposite | currency:' AED '}}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>