<mat-drawer-container>
  <!--start of side bar -->
  <mat-drawer mode="side" [opened]="sideBarOpen" class="layouting h-100">
    <mat-nav-list class="d-flex justify-content-between pt-4  h-100" style="flex-direction: column;">
      <!-- <div class=""> -->
        <div class="logo" style="background-color: #000; height: 18%;">
          <img src="https://ik.imagekit.io/2cvha6t2l9/bllogo.PNG?ik-sdk-version=javascript-1.4.3&updatedAt=1678092036169"
            alt="Company Logo" />
        </div>
      <!-- </div> -->
      <div class="firstPart overflow-auto " style="height:  57% ;">
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/home">
          <i class="fa-solid fa-house   fa-lg pr-4"></i> Home
        </a>
        <!--  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
              <mat-icon>dashboard</mat-icon> Dashboard
              </a> -->
        <a *ngIf="isLogged" mat-list-item routerLinkActive="list-item-active" routerLink="/main/transactions/List"> <i
            class="fa-solid fa-comments-dollar fa-lg pr-4"></i> Transactions</a>
        <a *ngIf="isLogged" mat-list-item routerLinkActive="list-item-active" routerLink="/main/services/List"> <i
            class="fa-solid fa-gears  fa-lg pr-4"></i> Services </a>
        <a *ngIf="isLogged" mat-list-item routerLinkActive="list-item-active" routerLink="/main/customers/List"> <i
            class="fa-solid fa-users  fa-lg pr-4"></i>Customers </a>
        <a *ngIf="isLogged" mat-list-item routerLinkActive="list-item-active" routerLink="/main/sppliers/List"> <i class="fas fa-handshake fa-lg pr-4"></i>Suppliers </a>    
        <a *ngIf="isLogged" mat-list-item routerLinkActive="list-item-active" routerLink="/main/banks/List"> <i class="fa-solid fa-landmark fa-lg pr-4"></i>
          Banks </a>
        <a *ngIf="isLogged" mat-list-item routerLinkActive="list-item-active" routerLink="/main/owners/List"> <i class="fa-solid fa-building fa-lg pr-4"></i>
          Owners </a>  
        <a *ngIf="isLogged " mat-list-item routerLinkActive="list-item-active" routerLink="/main/transactionAccount/List"> <i class="fa-regular fa-money-check-dollar  fa-xl pr-4"></i>Expenses / Supply </a>  
        <a *ngIf="isLogged" mat-list-item  routerLink="/main/accountant" (click)="toggleAccountantSubMenu()"> <i class="fa fa-calculator  fa-xl pr-4"></i>Accountant</a> 
        <!-- sub list accontant  -->
        <!-- Sub-list for Accountant -->
        <div *ngIf="isAccountantSubMenuOpen" class="pl-5">
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/accountant/balanceSheat">
            <i class="fa-solid fa-balance-scale  fa-xl pr-4" ></i>Balance Sheet
          </a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/accountant/deptors">
            <i class="fas fa-file-invoice-dollar  fa-xl pr-4"></i>
            Deptors
          </a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/main/accountant/creditors">
            <i class="fas fa-credit-card  fa-xl pr-4"></i>
            Creditors
          </a>
          <!-- Add more sub-menu items as needed -->
        </div>
        

        <a *ngIf="isLogged" mat-list-item routerLinkActive="list-item-active" routerLink="/main/reminders/List"> 
          <i class="fa-regular fa-bell  fa-xl pr-4"></i>
          Reminder </a>
      </div>
      <div class="ramadan  h-25 " style="bottom: 0;">
        <img src="https://ik.imagekit.io/2cvha6t2l9/mohamed.PNG?updatedAt=1695967598893" 
          alt="" class="hiA " id="ramd" srcset="" >
      </div>
    </mat-nav-list>
  </mat-drawer>
  <!-- end of side bar -->
  <mat-drawer-content >
    <!-- header -->
    <mat-toolbar class="navbar layouting">
      <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="row mr-2 ml-auto">
          <ul class="row m-0 justify-content-center  align-items-center">
            <li *ngIf="isReminder">
              <button mat-button [matMenuTriggerFor]="menuReminder" class="user mt-2 d-flex align-items-center textRed">
                <i class="fa-regular fa-bell  fa-xl pr-4 " *ngIf="!isReminderUrgent"></i>
                <img *ngIf="isReminderUrgent" src="https://ik.imagekit.io/2cvha6t2l9/unnamed.gif?updatedAt=1689758801539" alt="" srcset=""   style="width: 30px;
                aspect-ratio: auto 20 / 20;
                height: 30px;"  >
              </button>
              <mat-menu #menuReminder="matMenu">
                <button mat-menu-item class="auto-width-button" routerLink="/main/reminders/List">
                  There are reminders
                </button>
              </mat-menu>
            </li>
            <li>
              <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                <!-- <img src="assets/user.jpg" alt="" class="user-image mx-auto p-2 d-block" /> -->
                {{user?.name}}
                <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logOut()" >
                  <mat-icon>exit_to_app</mat-icon>
                  Logout
                </button>
              </mat-menu>
            </li>
          </ul>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- end of header -->

    <!-- main content  -->
    <router-outlet></router-outlet>
    <!-- end of main content  -->
  </mat-drawer-content>
</mat-drawer-container>