<div class="container">
    <div class="row my-3">
        <h3 class="text-info">Summary Of Day</h3>
    </div>
    <div class="row my-2">
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Profite {{' ( Gross )'}}</h6>
                            <h3 class="f-w-700 text-c-blue">{{dailySummary?.summary?.total_profite_gross-dailySummary?.summary?.commission||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">

            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Balance</h6>
                            <h3 class="f-w-700 text-c-green">{{dailySummary?.summary?.balanceDue||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullseye bg-c-green"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Payment Amount</h6>
                            <h3 class="f-w-700 text-c-yellow">{{dailySummary?.summary?.paymentAmount||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-paper bg-c-yellow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Numbers of Transactions</h6>
                            <h3 class="f-w-700 text-c-blue">{{dailySummary?.summary?.count||0}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <!-- <i class="fa-solid fa-hashtag"></i> -->
                            <i class="fas fa-hashtag bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Supply</h6>
                            <h3 class="f-w-700 text-c-blue">{{dailySummary?.summary?.sumSupply||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">

            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Expenses</h6>
                            <h3 class="f-w-700 text-c-green">{{dailySummary?.summary?.sumExpenses||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullseye bg-c-green"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row my-3">
        <h3 class="text-info">Summary Of Month</h3>
    </div>
    <div class="row my-2">
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Profite {{' ( Gross )'}}</h6>
                            <h3 class="f-w-700 text-c-blue">{{monthlySummary?.summary?.total_profite_gross||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Customer Deposit</h6>
                            <h3 class="f-w-700 text-c-yellow">{{monthlySummary?.summary?.totalDeposit ||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hand-paper bg-c-yellow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Balance</h6>
                            <h3 class="f-w-700 text-c-blue">{{monthlySummary?.summary?.balanceDue||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <!-- <i class="fa-solid fa-hashtag"></i> -->
                            <i class="fas fa-hashtag bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">
            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Supply</h6>
                            <h3 class="f-w-700 text-c-blue">{{monthlySummary?.summary?.sumSupply||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-eye bg-c-blue"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 col-xl-4">

            <div class="card comp-card ">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-b-25">Total Expenses</h6>
                            <h3 class="f-w-700 text-c-green">{{monthlySummary?.summary?.sumExpenses||0 | currency:' AED '}}</h3>
                            <p class="m-b-0">{{dateToday |date}}</p>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bullseye bg-c-green"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>