<div class="container">
    <div class="row my-3 ">
        <div class="col-12 header-container">
            <h2 class="text-info ">Creditors</h2>
            <!-- <p class="font-italic font-weight-bold">Total Deposits: {{ totalDeposite | currency:' AED ' }}</p> -->
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover" style="min-width: 670px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center" >Customer Name</th>
                    <th scope="col" class="text-center" >Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let creditor of listCreditors , let i=index" >
                    <td scope="row" class="w-50">{{creditor.name}}</td>
                    <td>{{creditor.deposite | currency:' AED '}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>